.profile-edit__buttons {
    padding: 0 4px;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
}

.profile-edit__buttons .button {
    width: 100%;
    margin-bottom: 5px;
}

.profile-edit__buttons .button__text {
    color: #007aff
}
