.link_plaintext {
    color: #000;
    text-decoration: none;
    width: 100%;
    display: block;
    word-wrap: break-word;
    word-break: break-all;
    margin: 5px 0;
}

.link_plaintext.link_focused {
    outline: none;
}
