.profile__to-feed {
    background-color: inherit;
    border: none;
    font-size: 25px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.profile__to-feed.button_pressed {
    background: none;
    box-shadow: none;
}

.profile__to-feed .icon {
    background-image: url('img/left-arrow.svg');
    line-height: 25px;
}
