.profile__to-edit {
    background-color: inherit;
    border: none;
    font-size: 25px;
    position: absolute;
    top: 4px;
    right: 4px;
    text-align: right;
}

.profile__to-edit.button_pressed {
    background: none;
    box-shadow: none;
}

.profile__to-edit .icon {
    background-image: url('img/edit.svg');
    line-height: 25px;
}

.profile__to-edit .button_pressed .icon {
    background-image: url('img/edit.svg');
}
