.tweets {
    height: 100%;
    padding: 5px 4px 0 4px;
}

.tweets .text_about {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #63739b;
    text-align: center;
}

.tweets .text_nothing {
    text-align: center;
    line-height: 44px;
    background-color: #ceced2;
    width: 100%;
    display: block;
    height: 44px;
    color: #007aff;
}
