.bottom-menu{
    background-color: #fff;
    box-shadow: 0 -7px 6px -6px rgba(204, 204, 204, 1);
}

.bottom-menu .icon_home {
    background-image: url('img/home.svg');
}

.bottom-menu .icon_account {
    background-image: url('img/account.svg');
}

.bottom-menu .icon_search {
    background-image: url('img/search-button.svg');
}

.bottom-menu .icon_tweet {
    background-image: url('img/plus.svg');
}