.social-buttons {
    text-align: center;
    position: absolute;
    left: 26%;
    top: 35%;
}

.social-buttons .social-buttons__vk,
.social-buttons .social-buttons__fb {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    border-radius: 5px;
}

.social-buttons__fb.button_theme_islands.button_size_m .icon,
.social-buttons__vk.button_theme_islands.button_size_m .icon {
    background-size: cover;
    width: 100%;
    border-radius: 5px;
    height: 100%;
}
